<app-page-header [heading]="'Produto'" [icon]="'fa-edit'"></app-page-header>
<div class="row">
	<div class="col-lg-12">
		<form role="form">
			<fieldset class="form-group">
				<label>Nome</label>
				<input class="form-control">
			</fieldset>
			<fieldset class="form-group">
				<label>Descrição</label>
				<textarea class="form-control" rows="3"></textarea>
			</fieldset>
			<fieldset class="form-group">
				<label>Preço</label>
				<input class="form-control">
			</fieldset>
			<fieldset class="form-group">
				<label for="exampleInputFile">Foto</label>
				<input type="file" class="form-control-file" id="exampleInputFile">
			</fieldset>
		</form>
	</div>
</div>
