<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/restaurante']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>Restaurante</span>
        </a>
        <a [routerLink]="['/cardapio']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>Cardápio</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>Usuários</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>Relatórios</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search"></i>&nbsp;
            <span>Pesquisa Satisfação</span>
        </a>
    </div>
    <!--
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
    -->
</nav>
